<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:jee="http://www.springframework.org/schema/jee"
		xsi:schemaLocation="
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd"
        default-autowire="byName">
	<!-- 开启组件扫描,注解配置 -->
	<context:component-scan base-package="com.carl.test.proxy"/>
    <!-- 开启AOP注解配置 -->
    <aop:aspectj-autoproxy/>

    <import resource="basic_dao_bean.xml" />
    <import resource="classpath:/spring/basic_service_bean.xml" />
    <import resource="classpath:/spring/basic_action_bean.xml" />



    <bean id="hello" class="com.carl.test.proxy.spring.test.Hello">
        <property name="basicDao">
            <ref bean="basicDao_A"/>
        </property>
    </bean>


    <bean id="basicService" scope="prototype" class="com.tecsun.framework.basic.service.BasicService"/>

			
			
</beans>